.dice{
    border: 2px red solid;
    border-radius: 25px;
    background-color: lightgray;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.dot{
    width: 10px;
    height: 10px;
    border: 1px red solid;
    background-color: red;
    border-radius: 10px;
}

    /*Ajout dé par dé*/

#d1, #d2, #d3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 #d4, #d5, #d6 div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} 

#d4 div, #d5 div, #d6 {
    display: flex;
    justify-content: space-around;
}

#d5 div:nth-child(2) {
    align-self: center;
}